exportPattern("^[[:alpha:]]+")
## Import functions used in the package
importFrom("graphics", "plot")
importFrom("stats", "runif")
## Register S3 methods
S3method(Absorb, MCBS)
S3method(Bounce, MCBS)
S3method(Chart, MCBS)
S3method(Export, MCBS)
S3method(Launch, MCBS)
S3method(Move, MCBS)
S3method(Randomize, MCBS)
S3method(Scatter, MCBS)
S3method(Setup, MCBS)
S3method(Simulation, MCBS)
S3method(print, MCBS)
